.contenedor-secciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.botones {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

