.contenedor-opciones-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contenedor-barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-busqueda {
  width: 90%;
  height: 20px;
}

.lista-tags {
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
}

.lista-tags-select {
  border-radius: 15px;
  background-color: #2B2C28;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 2px;

}

.tag-search {
  display: flex;
  margin: 2px;
  padding-top: 4px;
}

.tag-search input::placeholder {
  font-style: italic;
  font-family: Roboto, sans-serif;
}

.tag-search input {
  background-color: #2B2C28;
  padding: 3px;
  border: none;
  color: #FFFAFB;
  min-width: 40px;
}

.tag-search input:focus {
  border: none;
  outline: none;
}

.tag button {
  height: auto;
  width: auto;
  border-radius: 100%;
  border: none;
  color: #FFFAFB;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 3px;
  background-color: inherit;
}

.oculto {
  display: none;
}

.resultados {
  display: block;
  height: 300px;
  background-color: #339989;
}