.contenedor-titulo-filtro {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid #2B2C28;
  margin-bottom: 20px;
}

.titulo-filtros {
  display: flex;
  text-align: center;
  margin: 0;
}